<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>audiopaste</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
<div class="container mt-4">
    <h1 class="text-center mb-1">
        <a href="{{ url_for('index') }}" 
           class="link-underline link-underline-opacity-0"
           style="color: black;">
            audiopaste
        </a>
    </h1>
  <p class="text-center mt-0">Share audio clips</p>

  {% block body %}
  {% endblock %}
</div>

<div class="container justify-content-center">
  <div class="row m-5">
    <div class="col-8 col-md-6 mb-4">
      <h2 class="text-center">My pastes</h2>
      <div id="myPastesUl" class="list-group"></div>
    </div>
    <div class="col-8 col-md-6 mb-4">
      <h2 class="text-center">Recently viewed</h2>
      <div id="recentlyViewedUl" class="list-group"></div>
    </div>
  </div>
</div>

<div
  class="footnotes container mt-4 card-footer list-group list-group-horizontal justify-content-center">
  <div class="list-item">
    <a href="{{ url_for('index') }}" class="btn btn-link">index</a>
  </div>
  <div class="list-item">
    <a href="https://github.com/jftsang/audiopaste" class="btn btn-link">github</a>
  </div>
  <div class="list-item">
    <a href="{{ url_for('privacy') }}" class="btn btn-link">privacy policy</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
