{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
  <div class="justify-content-center mb-12">
    <div id="audioDiv" class="text-center"></div>
  </div>


  <div class="mb-3">
    <input id="key" value="{{ key }}" readonly hidden>
    <input id="audioUrl" value="{{ audio_url }}" readonly hidden>
  </div>

  <div class="mb-3 d-flex flex-wrap row justify-content-center">
    <div class="col-8 col-auto mb-3">
      <input id="url" class="form-control" readonly style="max-width: 500px;">
    </div>
    <div class="col-12 col-sm-auto d-flex justify-content-center gap-2 mb-3">
      <button id="copyBtn" class="btn btn-primary mx-2"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy link">
        <i class="bi bi-copy"></i>
      </button>
      <button id="copyDirectLinkBtn" class="btn btn-secondary mx-2"
              data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="Copy direct link">
        <i class="bi bi-link-45deg"></i>
      </button>
      <button id="downloadBtn" class="btn btn-success mx-2"
              data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="Download audio">
        <i class="bi bi-download"></i>
      </button>
    </div>
  </div>

  <div class="mt-4">
    <p><strong>Pasted at:</strong> {{ pasted.creation_time }}</p>
    <p><strong>Expires at:</strong> {{ pasted.expiration_time }}</p>
  </div>

</div>

<script src="/static/js/play.js" type="module"></script>
{% endblock %}
